*{
  font-family: Helvetica, sans-serif;
  
}
body, html{
  overflow-x:hidden;
}

.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}



.App-header {
background-color: #1C222C;
background-size: cover;


min-height: 100vh;
margin-top:20px;
justify-content: start;
align-self: flex-start;
align-items: center;
margin:0;
padding:0;


}


.App-header h1{
color:rgb(232, 232, 232);
font-size: 1.2rem;
/* padding-top:10vw; */
margin-top:16vh;
margin-bottom:8vh;
letter-spacing: 4px;
}



.container-cajas{
display:flex;
justify-content: space-around;
align-content: center;
align-self: center;
align-items: center;

justify-self: center;

display:grid;
grid-template-columns: 20% 20%;


}









@media screen and (max-width:1064px) {
  body, html{
      overflow-x:hidden;
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  
  
  .App-header {
    background-color: #1C222C;
    background-size: cover;
    
  
    min-height: 100vh;
    margin-top:20px;
    justify-content: start;
    align-self: flex-start;
    align-items: center;
    margin:0;
    padding:0;

    
  }
  
  
  .App-header h1{
    color:rgb(232, 232, 232);
    font-size: 1.2rem;
    /* padding-top:10vw; */
    margin-top:100px;
    margin-bottom: 30px;
    
   
    letter-spacing: 4px;
  }



  .container-cajas{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    align-items: center;
  
    justify-self: center;
   
    display:grid;
    grid-template-columns: 100%;
  
    
  }





}

