
.navigationItems{
    
    position:absolute;
    justify-content: space-around;
}

nav{
    line-height: 20px;
    margin-top:20px;
    min-height: 20px;
    color:black;
    display:flex;
 
    justify-content: space-between;
    
     
    position:absolute;
    width:100%;
}

.logo{
    
    margin-left:1.9rem;
    width:12%;
}

.navlinks{
    
    display:flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    width:50%;
    z-index:5;
   
}

.link a{
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    margin:5px;
}

.hamburger-toggle{
    cursor: pointer;
    color:black;
    margin-top: 15px;
    margin-right:50px;
    display:none;
    z-index:1;
}



@media screen and (max-width:750px) {
    body, html{
        overflow-x:hidden;
    }

    .hamburger-toggle{
        display:block;
        color:rgba(255, 255, 255, 0.879);
    }
    .hamburger-toggle2{
        position:absolute;
        cursor: pointer;
        color:rgba(255, 255, 255, 0.879);

        top:40px;
        right: 50px;
        

        font-size: 17px;
    
    z-index:8;


        
    }
    .logo img{
        margin-top:0.5vh;
        width: 40px;
        
    }

    .navlinks{
        position:absolute;
        right:0px;
        display:none; /*ESTO HAY QUE DEJARLO EN FLEX, CUANDO SEPAMOS COMO OCULTAR X SIN LIARLA*/
        flex-direction:column;
        height:50vh;
        vertical-align: middle;
        align-items:center;
        width:100%;
        padding:30vh 0 30vh 0;
        
        top:-7vh;
        bottom:0vh;
        background-color: black;
        font-size:30px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index:5;

        text-decoration: none;
    }

    .navlinks a{
        text-decoration: none;
        color:white;
    }
    


    .active {
        display:flex;
        transform: translateX(0%);
        
       
    }
    
}